.profile-card{
    border: none;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  10px 10px 20px #d9d9d9,
             -10px -10px 20px #ffffff;
    cursor: pointer;
}
.profile-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-card-info-icon{
    width: 30px;
    height: 30px;
    color: blue;
}
.desha-card{
    display: flex;
    justify-content: space-between;
}